@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールアニメーションのCSS */
/* 下から上へふわっと */
.scroll-up {
  transition: 0.5s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll-up.on {
  transform: translateY(0);
  opacity: 1;
}

/* マーカー */
.scroll-left::after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e26400;
  z-index: 8;
  transform: translateX(0) scaleX(1);
}
.on.scroll-left::after {
  transition: all 0.5s;
  transform: translateX(-50%) scaleX(0);
}
